<!doctype html>

<html>
	<head>
		<title>d2l-rubric-criteria-group test</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
		<script src="../../../@webcomponents/webcomponentsjs/webcomponents-bundle.js"></script>
		<script src="../../../wct-browser-legacy/browser.js"></script>
		<script src="../test-polyfill.js"></script>
		<script src="./utilities/wait.js"></script>
		<link rel="import" href="../../store/entity-store.html">
		<script type="module" src="../../d2l-rubric-criteria-group.js"></script>
	</head>
	<body>
		<test-fixture id="basic-criteria">
			<template>
				<d2l-rubric-criteria-group></d2l-rubric-criteria-group>
			</template>
		</test-fixture>
		<script src="./d2l-rubric-criteria-group.js"></script>
	</body>
</html>
