<!doctype html>

<html>
	<head>
		<title>d2l-rubric-criteria-editor test</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
		<script src="../../../@webcomponents/webcomponentsjs/webcomponents-bundle.js"></script>
		<script src="../../../wct-browser-legacy/browser.js"></script>

		<script type="module" src="../../../@polymer/promise-polyfill/promise-polyfill.js"></script>
		<script src="../../../whatwg-fetch/fetch.js"></script>
		<script src="../test-polyfill.js"></script>

		<script type="module" src="../../../d2l-polymer-siren-behaviors/store/entity-store.js"></script>
		<script type="module" src="../../editor/d2l-rubric-criteria-editor.js"></script>
		<script src="../../node_modules/attest/attest.js"></script>
		<script src="./ally-test-script.js"></script>
		<script src="./utilities/wait.js"></script>

		<script src="./static-data/rubrics/organizations/text-only/199/groups/176/criteria-criterion-added.js"></script>
	</head>
	<body>
		<test-fixture id="readonly">
			<template>
				<d2l-rubric-criteria-editor
					href="static-data/rubrics/organizations/text-only/199/groups/176/criteria-readonly.json"
				>
				</d2l-rubric-criteria-editor>
			</template>
		</test-fixture>
		<test-fixture id="basic">
			<template>
				<d2l-rubric-criteria-editor
					href="static-data/rubrics/organizations/text-only/199/groups/176/criteria.json"
				>
				</d2l-rubric-criteria-editor>
			</template>
		</test-fixture>
		<test-fixture id="holistic">
			<template>
				<d2l-rubric-criteria-editor
					is-holistic
					href="static-data/rubrics/organizations/holistic/199/groups/176/criteria.json">
				</d2l-rubric-criteria-editor>
			</template>
		</test-fixture>
		<script src="./d2l-rubric-criteria-editor.js"></script>

	</body>
</html>
