<!doctype html>

<html>
	<head>
		<title>d2l-rubric-feedback-editor test</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
		<script src="../../../@webcomponents/webcomponentsjs/webcomponents-bundle.js"></script>
		<script src="../../../wct-browser-legacy/browser.js"></script>
		<script src="../../node_modules/attest/attest.js"></script>
		<script src="./ally-test-script.js"></script>

		<script type="module" src="../../../@polymer/promise-polyfill/promise-polyfill.js"></script>
		<script src="../../../whatwg-fetch/fetch.js"></script>
		<script src="../test-polyfill.js"></script>
		<script type="module" src="../../../d2l-polymer-siren-behaviors/store/entity-store.js"></script>
		<script type="module" src="../../editor/d2l-rubric-feedback-editor.js"></script>

		<script src="./static-data/rubrics/organizations/text-only/199/groups/176/criteria/623/0-feedback-mod.js"></script>
		<script src="./static-data/rubrics/organizations/text-only/199/overall-levels/1-feedback-mod.js"></script>
	</head>
	<body>
		<test-fixture id="basic-criterion">
			<template>
				<d2l-rubric-feedback-editor
					href="static-data/rubrics/organizations/text-only/199/groups/176/criteria/623/0.json"
				>
				</d2l-rubric-feedback-editor>
			</template>
		</test-fixture>
		<test-fixture id="readonly-criterion">
			<template>
				<d2l-rubric-feedback-editor
					href="static-data/rubrics/organizations/text-only/199/groups/176/criteria/623/1.json"
				>
				</d2l-rubric-feedback-editor>
			</template>
		</test-fixture>

		<test-fixture id="basic-overall-level">
			<template>
				<d2l-rubric-feedback-editor
					href="static-data/rubrics/organizations/text-only/199/overall-levels/1.json"
				>
				</d2l-rubric-feedback-editor>
			</template>
		</test-fixture>
		<test-fixture id="readonly-overall-level">
			<template>
				<d2l-rubric-feedback-editor
					href="static-data/rubrics/organizations/text-only/199/overall-levels/2.json"
				>
				</d2l-rubric-feedback-editor>
			</template>
		</test-fixture>

		<script src="./d2l-rubric-feedback-editor.js"></script>

	</body>
</html>
