<!doctype html>

<html>

<head>
	<title>d2l-rubric-overall-level-editor test</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
	<script src="../../../@webcomponents/webcomponentsjs/webcomponents-bundle.js"></script>
	<script src="../../../wct-browser-legacy/browser.js"></script>
	<script src="../../../whatwg-fetch/fetch.js"></script>
	<script src="../../node_modules/attest/attest.js"></script>
	<script src="../test-polyfill.js"></script>
	<script src="./ally-test-script.js"></script>
	<script src="./utilities/wait.js"></script>
	<script type="module" src="../../editor/d2l-rubric-overall-level-editor.js"></script>
</head>

<body>
	<test-fixture id="basic">
		<template>
			<d2l-rubric-overall-level-editor href="../../demo/data/rubrics/organizations/overall-score/200/overall-levels/1.json" token="foozleberries">
			</d2l-rubric-overall-level-editor>
		</template>
	</test-fixture>
	<script type="module">
import '../../editor/d2l-rubric-overall-level-editor.js';

suite('<d2l-rubric-overall-level-editor>', function() {

	var element, sandbox;

	suiteSetup(function() {
		sandbox = sinon.sandbox.create();
		element = fixture('basic');
	});

	suiteTeardown(function() {
		sandbox.restore();
	});

	suite('smoke test', function() {

		test('can be instantiated', function() {
			expect(element.is).to.equal('d2l-rubric-overall-level-editor');
		});
	});

	suite('Ally Test', function() {
		/* eslint no-invalid-this:0 */
		/* global isAttestInstalled */
		/* global ally_tests */
		suiteSetup(function() {
			if (!isAttestInstalled()) {
				this.skip();
			}
		});
		test('d2l-rubric-overall-level-editor ally checks', function() {
			ally_tests();
		});
	});
});
</script>
</body>

</html>
