<!doctype html>

<html>
	<head>
		<title>d2l-rubric test</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
		<script src="../../../@webcomponents/webcomponentsjs/webcomponents-bundle.js"></script>
		<script src="../../../wct-browser-legacy/browser.js"></script>
		<script src="../test-polyfill.js"></script>
		<script src="./utilities/wait.js"></script>
		<script type="module" src="../../editor/d2l-rubric-structure-editor.js"></script>
	</head>
	<body>
		<test-fixture id="basic">
			<template>
				<d2l-rubric-structure-editor></d2l-rubric-structure-editor>
			</template>
		</test-fixture>
		<script src="./d2l-rubric-structure-editor.js"></script>

	</body>
</html>
