<!doctype html>

<html>

<head>
	<title>d2l-rubric-overall-level-editor test</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
	<script src="../../../webcomponentsjs/webcomponents-lite.js"></script>
	<script src="../../../web-component-tester/browser.js"></script>
	<script src="../../../fetch/fetch.js"></script>
	<script src="../test-polyfill.js"></script>
	<link rel="import" href="../../editor/d2l-rubric-overall-level-editor.html">
</head>

<body>
	<test-fixture id="basic">
		<template>
			<d2l-rubric-overall-level-editor href="../../demo/data/rubrics/organizations/overall-score/200/overall-levels/1.json" token="foozleberries">
			</d2l-rubric-overall-level-editor>
		</template>
	</test-fixture>
	<script>
		'use strict';

		suite('<d2l-rubric-overall-level-editor>', function() {

			var element, sandbox;

			suiteSetup(function() {
				sandbox = sinon.sandbox.create();
				element = fixture('basic');
			});

			suiteTeardown(function() {
				sandbox.restore();
			});

			suite('smoke test', function() {

				test('can be instantiated', function() {
					expect(element.is).to.equal('d2l-rubric-overall-level-editor');
				});
			});

			a11ySuite('basic');
		});
	</script>
</body>

</html>
