<!doctype html>

<html>
	<head>
		<title>d2l-rubric test</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=1000, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
		<script src="../../../@webcomponents/webcomponentsjs/webcomponents-bundle.js"></script>
		<script src="../../../wct-browser-legacy/browser.js"></script>
		<script src="../../../whatwg-fetch/fetch.js"></script>
		<script src="../test-polyfill.js"></script>
		<script src="./utilities/wait.js"></script>
		<script type="module" src="../../../d2l-fetch-siren-entity-behavior/d2l-fetch-siren-entity-behavior.js"></script>
		<script type="module" src="./utilities/request-mock.js"></script>

		<script type="module" src="../../d2l-rubric.js"></script>
	</head>
	<body>
		<test-fixture id="default-rubric">
			<template>
				<d2l-rubric href='' token='foozleberries' overall-score-flag=""></d2l-rubric>
			</template>
		</test-fixture>
		<test-fixture id="no-overall-score">
			<template>
				<d2l-rubric href='' token='foozleberries'></d2l-rubric>
			</template>
		</test-fixture>
		<script type="module" src="./default-rubric.js"></script>
		<script type="module" src="./d2l-rubric-text-only.js"></script>

	</body>
</html>
