<!doctype html>

<html>
	<head>
		<title>d2l-rubric-criteria-groups-editor test</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
		<script src="../../../webcomponentsjs/webcomponents-lite.js"></script>
		<script src="../../../web-component-tester/browser.js"></script>

		<link rel="import" href="../../../promise-polyfill/promise-polyfill.html">
		<script src="../../../fetch/fetch.js"></script>
		<script src="utilities/fetch-siren-entity-whitelist.js"></script>

		<link rel="import" href="../../store/entity-store.html">
		<link rel="import" href="../../editor/d2l-rubric-criteria-groups-editor.html">

		<script src="static-data/rubrics/organizations/text-only/199/groups-group-added.js"></script>
	</head>
	<body>
		<test-fixture id="basic">
			<template>
                <d2l-rubric-criteria-groups-editor 
                    href="static-data/rubrics/organizations/text-only/199/groups.json">
                </d2l-rubric-criteria-groups-editor>
			</template>
		</test-fixture>
		<test-fixture id="readonly">
			<template>
                <d2l-rubric-criteria-groups-editor 
                    href="static-data/rubrics/organizations/text-only/199/groups-readonly.json">
                </d2l-rubric-criteria-groups-editor>
			</template>
		</test-fixture>
		<script src="d2l-rubric-criteria-groups-editor.js"></script>
		<script>
			a11ySuite('basic');
		</script>
	</body>
</html>